body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;

    background-color: #f1f1f1;
    counter-reset: block-number;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 21px;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.background-container {
    width: 1200px;  /*размер сайта*/
    margin: 0 auto; /*центровка*/
    box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2); 
}

.site-header,
.container {
    background-color: #ffffff;
}


.button {
    display: inline-block;    
    padding: 10px 30px;    
    font: inherit;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    outline: none;
}


.container {
    padding: 0 72px;
}


/*----------Navigation----------*/

/*абсолютное позиционирование*/
.main-navigation {
    position: relative;
}

.navigation-logo {
    position: absolute;
    left: calc(50% - 140px/2);
    top: 0 px;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}


.site-navigation {
    margin: 0px;
    /*padding: 0 72px;*/
    display: flex;
    align-items: center;
    /*временно для сетки*/
    min-height: 55px;
}

.site-navigation-item {
    width: 128px;
    margin-right: 112px;
}

.site-navigation-item:nth-child(2) {
    margin-right: auto;
}

.site-navigation-item:last-child {
    margin-right: 0;
}

.site-navigation-item:nth-last-child(1),
.site-navigation-item:nth-last-child(2) {
    text-align: right;
}


/*----------Main content----------*/
/*----------intro----------*/
.intro {
    background-color: #38484d;
    background-image: url("../img/intro-polygon.svg"), url("../img/intro-background.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position:  center bottom,  center top;
    background-size: 100%, 100%;
    /*min-height: 509px;    */
    text-align: center;
}

.intro {
    margin-bottom: 60px;
    /*временно для сетки*/
    /*min-height: 510px;*/
}

.intro img {
    margin-top: 76px;
    margin-bottom: 79px;
}

/*---------- advantages----------*/
.advantage-list-caption {
    color: #333333;
    text-align: center;
    font-weight: 400;
}

.advantage-list {
    list-style: none;
}

.advantage-item-description {
    box-sizing: border-box;
    min-width: 400px;
    min-height: 256px;

    position: relative;

    color: #ffffff;
    text-align: center;
    background-color: #81b3d2;
    padding-top: 50px;    
    
}

.advantage-item-description::after {
    display: block;
    width: 100%;
    counter-increment: block-number; 
    content: "— №"counter(block-number)" —";
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    position: absolute;
    top: 115px;
}

.advantage-item-description h3 {
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 65px;

    font-size: 21px;
    line-height: 21px;
}


.advantage-item:nth-of-type(n+3) .advantage-item-description {
    color: #000000;
    background-color: #eeeeee;
}

/*
    Вопрос: Как сделать чтобы у данного элемента (.advantage-item-info) привязка была не к предыдущему в потоке элементу,
    а на расстоянии относительно нижней части блока?
*/
.advantage-item-info{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.city-advantage-list {
    display: flex;
    min-width: 400px;
    min-height: 330px;

    list-style: none;
    padding: 0px;
    margin: 0px;
}

.city-advantage-item {
    background-repeat: no-repeat;
    background-position: center 60px;
}

.city-advantage-item:nth-child(1) {
    background-image: url("../img/icon-house.svg");    
}

.city-advantage-item:nth-child(2) {
    background-image: url("../img/icon-burger.svg");    
}

.city-advantage-item:nth-child(3) {
    background-image: url("../img/icon-present.svg");    
}

.city-advantage-item {
    text-align: center;
}

.city-advantage-item h4 {
    font-size: 21px;
    margin-top: 166px;
}

.city-advantage-item p {
    font-weight: 400;
}    

/*Main > search*/
.search {
    text-align: center;
}

.got-interested {
    font-size: 30px;
    line-height: 36px;
}

.search p {
    color: #333333;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 40px;    
}

.button.button-search {
    /*
        Вопрос: Лучше паддингами стилизовать?  Или закрепить ширину?
        А если вдруг изменится содержимое кнопки. например напдись себя будет дублировать 4 раза. Кнопка вырастет в ширину.
        Как должна себя вести кнопка при увеличении размера? 
    */
    padding: 32px 140px;
    font-size: 21px;
    color: #ffffff;
    background-color: #766357;
}

.button-search:hover {
    background-color: #604e43;
}

.button-search:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #503e33;
}

/*---------- Footer ----------*/
.site-footer {
    /*min-height: 120px;*/
    padding: 36px 73px;
    /*padding: 36px 132px;*/
    display: flex;
    /*align-items: center;*/
    /*justify-content: space-between;*/
    background-color: rgba(255, 255, 255, 0.9);    
}

.footer-hashtag {
    font-size: 21px;
    text-align: center;    
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 256px;
}

.footer-copyright {
    display: flex;
    justify-content: flex-end;

    width: 240px;
    margin: 0px;
    margin-top: 5px;
    margin-right: 30px;
    text-align: right;
    vertical-align: middle;
}

.footer-copyright-text {
    margin-top: 6px;
    margin-right: 8px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
    margin-top: 0;
    margin-right: auto;
    padding: 0;
    

    list-style: none;    
}



.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;

    background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active path{
    background-color: #5496bd;
}

.social-button:active path{
    fill: #5496bd;
}


.logo-name * { 
    fill: #231f20;
}

/*hotel-search*/
.hotel-search {
    background-color: #ffffff; 
}

.hotel-search-form {
    text-align: center;
}

.search-form-field {
    box-sizing: border-box;
    outline: none;
    font: inherit;
    text-transform: uppercase;
    background-color: #f2f2f2;
    
    border: 2px solid transparent; 
    height: 38px;
    padding: 0 13px;

}

.search-form-field.field-text {
    width: 308px;    
}


.search-form-field.field-number {
    width: 38px;    
}

.hotel-search-button-minus {
    padding: 0;
    height: 38px;
    width: 38px; 
    background-image: url("../img/minus-grey.png");
    background-repeat: no-repeat;
    background-position: center;
}

.hotel-search-button-plus 
{
    padding: 0;
    height: 38px;
    width: 38px; 
    background-image: url("../img/plus-grey.png");
    background-repeat: no-repeat;
    background-position: center;    
}

.hotel-search-button-plus:hover,
.hotel-search-button-plus:focus {
    background-image: url("../img/plus-black.png");
}

.hotel-search-button-plus:active {
    background-image: url("../img/plus-blue.png");
}

.hotel-search-button-minus:hover,
.hotel-search-button-minus:focus {
    background-image: url("../img/minus-black.png");    
}

.hotel-search-button-minus:active {
    background-image: url("../img/minus-blue.png");
}


.hotel-search-line {
    display: flex;
    justify-content: space-between;
}

.search-form-field:hover {
    background-color: #ebebeb;
}

.search-form-field:focus {
    background-color: #ffffff;
    /*border: 2px solid #e5e5e5;*/
    border-color: #e5e5e5;
}

.hotel-search-button-find {
    padding: 21px 196px;

    font: inherit;
    font-size: 21px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;
    margin-top: 54px;
}

.hotel-search-button-find:hover {
    background-color: #669ec0;
}

.hotel-search-button-find:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #5496bd;
}

.hotel-search-button-calendar {
    padding: 0;
    height: 38px;
    width: 38px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
    background-color: #f2f2f2;
}


.hotel-search-button-calendar * {
    fill: #cacaca;
}

.hotel-search-button-calendar:hover,
.hotel-search-button-calendar:focus * {
    fill: #000000;
}

.hotel-search-button-calendar:active * {
    fill: #81b3d2;
}


/*Внутрення страница*/
.site-navigation-current a {
    color: #766357;
}

.appartment-item h3 {
    font-size: 21px;
}

.appartment-type,
.appartment-price {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.button-detail {
    color: #ffffff;
    background-color: #81b3d2;
}

.button-booking {
    color: #ffffff;
    background-color: #766357;
}

.rating-digit {
    color: #666666;
    background-color: #f2f2f2;
}

.appartment-item {
    list-style: none;
}


/*------------- Сеточные стили -------------*/
.main-container {
    background-color: #ffffff;
}

.main-header {
    margin-bottom: 30px;
}

.advantage-list-caption {
    margin-bottom: 50px;
}

.advantage-list {
    margin: 0px;
    padding: 0px;
}

.advantages {
    /*margin-bottom: 55px;*/
}

.got-interested {
    margin-top: 52px;
    margin-bottom: 25px;
    display: inline-block;
}



/*--------------- search form */
.hotel-search {
    box-sizing: border-box;
    width: 570px;
    padding: 55px;
    margin: 0 auto;

    /*временно для сетки*/
    min-height: 395px;
}

.hotel-search-item {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 29px;
    padding: 0;
}
 

.hotel-search-item label {
    display: inline-block;
    min-width: 112px; /*???*/
    margin-right: auto;
}



.appartments {

    /*временно для сетки*/
    min-width: 455px;
}

.appartment-list {
    padding: 0;
}

.appartment-item {
    display: flex;
    padding: 30px 0;
    /*временно для сетки*/
    min-height: 150px;  
}

.appartment-item-image {
    margin-right: 30px;
}

.appartment-item-second-column {
    width: 560px;
}

.appartment-item-header {
    margin-top: 0;
}

.appartment-rating {
    margin-left: auto;
}

.advantage-list {
    display: flex;
    flex-wrap: wrap;
}


.advantage-item:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
}



.advantage-item:nth-child(2) {
    display: flex;
}

.advantage-item {
    min-width: 400px;
    min-height: 256px;    
}

/*временные стили для сетки*/
/*body > * {
    background: rgba(255, 0, 0, 0.3);
}

body > * > * {
    background: rgba(255, 0, 255, 0.3);
}

body > * > * > * {
    background: rgba(255, 255, 0, 0.3);
}

body > * > * > * > *{
    background: rgba(0, 255, 0, 0.3);
}*/