body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;

    background-color: #f1f1f1;
}

a{
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 21px;
}


/*На данном этапе уже должен быть указан?*/
.visually-hidden{

}

.background-container{
    background-color: #fff;
    width: 1200px;  /*размер сайта*/
    margin: 0 auto; /*центровка*/
    box-shadow: 0px 5px 15px 0px rgba(0,1,1,0.2); /*правильно ли снята информация по тени?*/
}


.site-header,
.container{
    background-color: #fff;
}

.site-footer{
    background-color: rgba(255,255,255,0.9);
}

/*Navigation*/


.site-navigation{
    list-style: none;
}

.site-navigation a{
    color: #000;
}

.site-navigation a:hover{
    color: #81b3d2;
}

.site-navigation a:active{
    color: rgba(0,0,0,0.3);
}


/*Main content*/


/*Main > intro*/
.intro{
    background-color: #38484d;
    background-image: 
        url("../img/intro-polygon.svg"),
        url("../img/intro-background.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom center,top center;
    /*min-height: 509px;    */

    text-align: center;
}

/*Main > advantages*/
.advantage-list-caption{
    color: #333;
    text-align: center;
    font-weight: 400;
}

.advantage-list{
    list-style: none;
}

.advantage-item-description{
    color: #fff;
    text-align: center;
    background-color: #81b3d2;
}

.advantage-item:nth-of-type(n+3) .advantage-item-description{
    color: #000;
    background-color: #eeeeee;
}

.advantage-item-description h3{
    font-size: 21px;
}

.advantage-item-description p{
    font-weight: 400;
}

.city-advantage-list{
    list-style: none;
}

.city-advantage-item{
    text-align: center;
}

.city-advantage-item h4{
    font-size: 21px;
}

.city-advantage-item p{
    font-weight: 400;
}    

/*Main > search*/
.search{
    text-align: center;
}

.got-interested{
    font-size: 30px;
    line-height: 36px;
}

.search p{
    color: #333;
    font-weight: 400;
}

.button.button-search{
    font-size: 21px;
    color: #fff;
    background-color: #766357;
}

/*Footer*/
.footer-hashtag{
    font-size: 21px;
}

.footer-social-list{
    list-style: none;
}

/* цвет для иконоки*/
.logo-name path {
    fill: #231f20;
}


/*hotel-search*/
.hotel-search{
    background-color: #fff; 
}

.button {
    font: inherit; /*Наследует от родительского элемента или от body?*/

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.hotel-search-item input[type="text"],
.hotel-search-item input[type="number"],
.hotel-search-button-find {
    font: inherit;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.hotel-search-button-find{
    color: #fff;
    background-color: #81b3d2;

}

/*Внутрення страница*/
.site-navigation-current a{
    color: #766357;
}

