/*
ToDO: Проверить как выглядят странички в IE, Chrome, Firefox, Safari
*/
body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;

    background-color: #f1f1f1;
    counter-reset: block-number;
    position: relative;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 21px;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.background-container {
    position: relative;    
    width: 1200px;  /*размер сайта*/
    margin: 0 auto; /*центровка*/
    box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2); 
}

.button {
    display: inline-block;    
    padding: 10px 30px;    
    font: inherit;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    outline: none;
}

/*ToDo: добавить элементам класс где есть падинги*/
.container {
    padding: 0 72px;
}

/*ToDo: добавить класс который убирает паддинги у списков*/

/*---------- Navigation ----------*/
.site-header{
    background-color: #ffffff;
}

.main-navigation {
    position: relative;
}

.navigation-logo {
    position: absolute;
    left: calc(50% - 140px/2);
    top: 0;
}

.site-navigation {
    list-style: none;
    margin: 0px;
    /*padding: 0 72px;*/
    display: flex;
    align-items: center;
    /*временно для сетки*/
    min-height: 55px;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation-item {
    width: 128px;
    margin-right: 112px;
}

.site-navigation-item:nth-child(2) {
    margin-right: auto;
}

.site-navigation-item:last-child {
    margin-right: 0;
}

.site-navigation-item:nth-last-child(1),
.site-navigation-item:nth-last-child(2) {
    text-align: right;
}

/*Внутренняя страница*/
.site-navigation-current a {
    color: #766357;
}

/*---------- Main content ----------*/
.main-container {
    background-color: #ffffff;
}

.main-header {
    margin-bottom: 30px;
}
/*---------- intro ----------*/
/*ToDo: Для IE переделать background на after элемент*/
.intro {
    background-color: #38484d;
    background-image: url("../img/intro-polygon.svg"), url("../img/intro-background.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position:  center bottom,  center top;
    background-size: 100%, 100%;
    text-align: center;
    margin-bottom: 60px;
}

.intro img {
    margin-top: 76px;
    margin-bottom: 79px;
}

/*---------- advantages----------*/
.advantage-list-caption {
    color: #333333;
    text-align: center;
    font-weight: 400;
    margin-bottom: 50px;    
}

.advantage-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;        
}

.advantage-item {
    min-width: 400px;
    min-height: 256px;    
}

.advantage-item-description {
    box-sizing: border-box;
    min-width: 400px;
    min-height: 256px;

    position: relative;

    color: #ffffff;
    text-align: center;
    background-color: #81b3d2;
    padding-top: 50px;    
    
}

.advantage-item-description::after {
    display: block;
    width: 100%;
    counter-increment: block-number; 
    content: "— №"counter(block-number)" —";
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    position: absolute;
    top: 115px;
}

/* ToDo: Добавить класс для более гибкой стилизации */
.advantage-item-description h3 {
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 65px;

    font-size: 21px;
    line-height: 21px;
}


.advantage-item:nth-of-type(n+3) .advantage-item-description {
    color: #000000;
    background-color: #eeeeee;
}

/* ToDo: Обернуть во Flex box чтобы нижняя часть была к нижнему края блока */
.advantage-item-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.city-advantage-list {
    display: flex;
    min-width: 400px;
    min-height: 330px;

    list-style: none;
    padding: 0px;
    margin: 0px;
}

.city-advantage-item {
    background-repeat: no-repeat;
    background-position: center 60px;
    text-align: center;
}

.city-advantage-item:nth-child(1) {
    background-image: url("../img/icon-house.svg");    
}

.city-advantage-item:nth-child(2) {
    background-image: url("../img/icon-burger.svg");    
}

.city-advantage-item:nth-child(3) {
    background-image: url("../img/icon-present.svg");    
}

.city-advantage-item h4 {
    font-size: 21px;
    margin-top: 166px;
}

.city-advantage-item p {
    font-weight: 400;
}    

/*---------- search ----------*/
.search {
    text-align: center;
}

.got-interested {
    font-size: 30px;
    line-height: 36px;
    margin-top: 52px;
    margin-bottom: 25px;
    display: inline-block;    
}

/*ToDo: Какой тип блока по умолчанию у P ?*/
.search p {
    color: #333333;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 40px;    
}

.button.button-search {
    padding: 32px 140px;
    font-size: 21px;
    color: #ffffff;
    background-color: #766357;
}

.button-search:hover {
    background-color: #604e43;
}

.button-search:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #503e33;
}

/*---------- Map ----------*/
.map {
    position: relative;
}

/*---------- Footer ----------*/
.site-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    min-width: 1200px;
    padding: 36px 73px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);    
}

.inner-page .site-footer {
    position: static;    
}

.footer-hashtag {
    font-size: 21px;
    text-align: center;    
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 256px;
}

.footer-copyright {
    display: flex;
    justify-content: flex-end;

    width: 240px;
    margin: 0px;
    margin-top: 5px;
    margin-right: 30px;
    text-align: right;
    vertical-align: middle;
}

.footer-copyright-text {
    margin-top: 6px;
    margin-right: 8px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
    margin-top: 0;
    margin-right: auto;
    padding: 0;
    list-style: none;
}



.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;

    background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active path{
    background-color: #5496bd;
}

.social-button:active path{
    fill: #5496bd;
}


.logo-name * { 
    fill: #231f20;
}

/*---------- hotel-search ----------*/
.hotel-search {
    background-color: #ffffff; 
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.hotel-search-form {
    text-align: center;
}

.search-form-field {
    box-sizing: border-box;
    outline: none;
    font: inherit;
    text-transform: uppercase;
    background-color: #f2f2f2;
    
    border: 2px solid transparent; 
    height: 38px;
    padding: 0 13px;

}

.search-form-field:hover {
    background-color: #ebebeb;
}

.search-form-field:focus {
    background-color: #ffffff;
    /*border: 2px solid #e5e5e5;*/
    border-color: #e5e5e5;
}

.search-form-field.field-text {
    width: 308px;    
}


.search-form-field.field-number {
    width: 38px;    
}

.hotel-search-button-minus {
    position: relative;
    padding: 0;
    height: 38px;
    width: 38px; 
    background-color: #f2f2f2;
}

.hotel-search-button::before
.hotel-search-button-plus::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #a9a9a9;
}

.hotel-search-button-plus {
    position: relative;
    padding: 0;
    height: 38px;
    width: 38px; 
    background-color: #f2f2f2;
}

/*
TODO: упростить код. Общие стили убрать дублирование
*/
.hotel-search-button-minus::before {
    width: 12px;
    height: 3px;
}

.hotel-search-button-plus::before, 
.hotel-search-button-plus::after {
    width: 12px;
    height: 3px;
}

.hotel-search-button-plus::after {
    transform: rotate(90deg);
}


.hotel-search-button:hover::before,
.hotel-search-button:focus::before {
    background-color: #000000;
}

.hotel-search-button-plus:active::before,
.hotel-search-button-plus:active::after,
.hotel-search-button-minus:active::before {
    background-color: #81b3d2;
}

.hotel-search-line {
    display: flex;
    justify-content: space-between;
}


.hotel-search-button-find {
    padding: 21px 196px;

    font: inherit;
    font-size: 21px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;
    margin-top: 54px;
}

.hotel-search-button-find:hover {
    background-color: #669ec0;
}

.hotel-search-button-find:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #5496bd;
}

.hotel-search-button-calendar {
    padding: 0;
    height: 38px;
    width: 38px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
    background-color: #f2f2f2;
}

.hotel-search-button-calendar:hover,
.hotel-search-button-calendar:focus * {
    fill: #000000;
}

.hotel-search-button-calendar:active * {
    fill: #81b3d2;
}

.hotel-search-button-calendar * {
    fill: #cacaca;
}

.appartment-item-header {
    font-size: 21px;
}

.appartment-item-header:hover {
    color: #81b3d2;
}

.appartment-item-header:active,
.appartment-item-header:focus {
    color: rgba(0, 0, 0, 0.3);
}

/*------------форма поиска------------*/
.search-appartment {
    background-color: #81b3d2;
    background-image: url("../img/filter-background.jpg");
    padding-top: 31px;
    padding-bottom: 31px;
}

.form-column {
    border:none;
    padding: 0;
    margin: 0;
}

.search-form legend {
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}

.search-form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-option {
    position: relative;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    padding-left: 40px;
    margin-bottom: 25px;
}

.search-input + label:before{
    content:"";
    display: block;
    position: absolute;
    left: 0;
    width: 27px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
}

.search-input:checked + label:before {
    background-image: url("../img/checkbox-on.svg");
}

.search-input-number {
    font: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}

.search-button {
    font: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    background-color:  transparent;
    color: #ffffff;
}

.search-form {
    display: flex;
    justify-items: flex-end;
}

.form-column legend{
    margin-bottom: 20px;
}

.column-infrastructure {
    min-width: 241px;
}

.column-house-type {
    min-width: 241px;
    margin-left: 15px;
}

.column-cost {
    margin-left: auto;
    min-width: 328px;
}

/*стили range фильтра с двумя кнопками*/
.filter-range {
    width: 320px;
    color: #ffffff;
    font-weight: 400;
    border: none;
}

.filter-range-title {
    margin-bottom: 9px;
  
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}


.price-controls {
    position: relative;

    height: 36px;
    margin-bottom: 20px;
  
    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;

    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;
  
    background: #ffffff;
    transform: translate(-50%, -50%);
  }

.price-controls label {
    display: inline-block;
  
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
  
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;
  
    color: inherit;
    font: inherit;
  
    background: none;
    border: none;
}

.range-controls {
    position: relative;
  
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
  
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
  
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;
  
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}
  
.range-toggle-max {
    left: 80%;
}

.search-button {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
  
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
  
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.search-button:hover {
    color: #000000;
  
    background: #ffffff;
}

/*------------форма сортировки------------*/
.result-sort {
    background-color: #fefefe;
    display: flex;
    align-items: center;
}
.result-found {
    display: inline-block;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.result-sort-by-value {
    margin-left: auto;
}

.result-sort-item {
    display: inline-block;  
    margin-left: 33px;  
}

.result-found {
    min-width: 165px;
}

.result-sort-list-label {
    min-width: 76px;
}


.result-sort-list-label {
    font-size: 12px;
    line-height: 21px;
    font-weight: 400;
}

.result-sort-item:not(.active) a {
    border-bottom: 1px dashed #81b3d2;    
}

.result-sort-item a {
    font-size: 12px;
    line-height: 21px;
    font-weight: 400;
    outline: none;
}

.result-sort-item a:hover,
.result-sort-item a:focus {
    color: #81b3d2;
    
}

.result-sort-item a:active {
    color: #000000;
}

.result-sort-list {
    list-style: none;
}

.result-sort-item a {
    color: rgba(0, 0, 0, 0.3);
}

.result-sort-item.active a {
    color: #81b3d2;
}

.triangle-up {
    display: inline-block;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
    border-bottom: 10px solid #cacaca;
    outline: none;
}

.triangle-down {
    display: inline-block;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #cacaca;
    /*border-top: 10px solid #81b3d2;*/

    margin-left: 12px;
    outline: none;
}

.triangle-up:hover,
.triangle-up:focus {
   border-bottom-color: #000000;
}

.triangle-up:active {
    border-bottom-color: #81b3d2;
}

.triangle-down:hover,
.triangle-down:focus {
    border-top-color: #000000;
}
 
.triangle-down:active {
     border-top-color: #81b3d2;
} 

/*------*/
.appartment-type,
.appartment-price {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.appartment-type {
    display: inline-block;
    min-width: 110px;
    margin-right: 2px;
}

.button-detail {
    color: #ffffff;
    background-color: #81b3d2;
    padding: 1px 16px;
    margin: 0px;
    margin-right: 4px;
}

.button-detail:hover {
    background-color: #669ec0;
}

.button-detail:active,
.button-detail:focus {
    background-color: #5496bd;
}

.button-booking {
    color: #ffffff;
    background-color: #766357;
    padding: 1px 16px;
    margin: 0px;
}

.button-booking:hover {
    background-color: #604e43;
}

.button-booking:active,
.button-booking:focus {
    background-color: #503e33;
}

 
/*
.rating-starts {
    display: block;
    width: 114px;
    height: 17px;
    margin: 0;
    margin-top: 3px;
    padding: 0;
}

.stars-1 {
    background-image: url("../img/star.svg");  
    background-repeat:   no-repeat;  
    background-position:  96px 0 ;
}

.stars-2 {
    background-image: url("../img/star.svg"), url("../img/star.svg");  
    background-repeat:   no-repeat, no-repeat;  
    background-position:  72px 0, 96px 0 ;
}

.stars-3 {
    background-image:  url("../img/star.svg"), url("../img/star.svg"), url("../img/star.svg");  
    background-repeat:  no-repeat, no-repeat, no-repeat;  
    background-position:  48px 0, 72px 0, 96px 0 ;
}

.stars-4 {
    background-image:  url("../img/star.svg"), url("../img/star.svg"), url("../img/star.svg"), url("../img/star.svg");  
    background-repeat:  no-repeat, no-repeat, no-repeat, no-repeat;  
    background-position:  24px 0, 48px 0, 72px 0, 96px 0 ;
}

.stars-5 {
    background-image: url("../img/star.svg"), url("../img/star.svg"), url("../img/star.svg"), url("../img/star.svg"), url("../img/star.svg");  
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;  
    background-position: 0 0, 24px 0, 48px 0, 72px 0, 96px 0 ;
}
*/
/*
ToDo: Звёздочки
*/
.rating-starts {
    display: block;
    background-image: url("../img/star.svg");
    width: 10px;
    height: 17px;
    margin: 0;
    margin-top: 3px;
    padding: 0;
    background-repeat: repeat;
    margin-left: auto;
}

.stars-1 {
    width: 18px;
}
.stars-2 {
    width: 42px;
}
.stars-3 {
    width: 66px;
}
.stars-4 {
    width: 90px;
}
.stars-5 {
    width: 114px;
}
.rating-digit {

    display: inline-block;
    color: #666666;
    background-color: #f2f2f2;
    padding-left: 16px;
    padding-right: 12px;
    margin: 0;   
    margin-top: 48px; 
    font-weight: 400px;

}

.appartment-item {
    display: flex;    
    list-style: none;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 25px;
    padding-bottom: 30px;
    border-top: 1px solid #e5e5e5;
    background-color: #fefefe;
}

.appartment-item:last-child {
    border-bottom: 1px solid #e5e5e5;    
}

/*------------- Сеточные стили -------------*/











/*--------------- search form */
.hotel-search {
    box-sizing: border-box;
    width: 570px;
    padding: 55px;
    margin: 0 auto;

    /*временно для сетки*/
    min-height: 395px;
}

.hotel-search-item {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 29px;
    padding: 0;
}
 

.hotel-search-item label {
    display: inline-block;
    min-width: 112px; /*???*/
    margin-right: auto;
}



.appartments {

    /*временно для сетки*/
    min-width: 455px;
}

.appartment-list {
    padding: 0;
    margin: 0;
}



.appartment-item-image {
    margin-top: 5px;
    margin-right: 30px;
}

.appartment-item-second-column {
    width: 560px;
}

.appartment-item-header {
    margin-top: 0;
    margin-bottom: 5px;
}

.appartment-info {
    margin: 0px;
    margin-bottom: 10px;
}

.appartment-booking {
    margin: 0px;
    padding: 0px;
}

.appartment-rating {
    margin-left: auto;
}




.advantage-item:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
}



.advantage-item:nth-child(2) {
    display: flex;
}





/*временные стили для сетки*/
/*body > * {
    background: rgba(255, 0, 0, 0.3);
}

body > * > * {
    background: rgba(255, 0, 255, 0.3);
}

body > * > * > * {
    background: rgba(255, 255, 0, 0.3);
}

body > * > * > * > *{
    background: rgba(0, 255, 0, 0.3);
}*/